extends ../layouts/application.pug

block content
  h1.mt-5.mb-4= t('views.tasks.index.title')

  a.btn.btn-primary.mb-3(href=route('newTask'))= t('views.tasks.index.createLink')

  .card.mb-4
    .card-body
      form(method='GET' action=route('tasks'))
        .row.g-3.mb-3
          .col
            .form-floating
              select#data_status.form-select(name='statusId')
                option(value='')
                each s in statuses
                  option(value=s.id selected=(filter && filter.statusId ? String(s.id) === String(filter.statusId) : false))= s.name
              label(for='data_status')= t('views.tasks.index.filterStatus')
          .col
            .form-floating
              select#data_executor.form-select(name='executorId')
                option(value='')
                each u in users
                  option(value=u.id selected=(filter && filter.executorId ? String(u.id) === String(filter.executorId) : false))= `${u.firstName} ${u.lastName}`
              label(for='data_executor')= t('views.tasks.index.filterExecutor')
          .col
            .form-floating
              select#data_label.form-select(name='labelId')
                option(value='')
                each l in labels
                  option(value=l.id selected=(filter && filter.labelId ? String(l.id) === String(filter.labelId) : false))= l.name
              label(for='data_label')= t('views.tasks.index.filterLabel')
        .mb-3
          .form-check
            input#filterIsCreatorUser.form-check-input(type='checkbox' name='isCreatorUser' value='on' checked=(filter && filter.isCreatorUser === 'on'))
            label.form-check-label(for='filterIsCreatorUser')= t('views.tasks.index.filterIsCreatorUser')
        input.btn.btn-primary(type='submit' value=t('views.tasks.index.filterSubmit'))

  table.table.table-striped
    thead
      tr
        th= t('views.tasks.id')
        th= t('views.tasks.name')
        th= t('views.tasks.status')
        th= t('views.tasks.creator')
        th= t('views.tasks.executor')
        th= t('views.tasks.createdAt')
        th= t('views.tasks.actions')
    tbody
      each task in tasks
        tr
          td= task.id
          td
            a(href=route('showTask', { id: task.id }))= task.name
          td= task.status ? task.status.name : ''
          td= task.creator ? `${task.creator.firstName} ${task.creator.lastName}` : ''
          td= task.executor ? `${task.executor.firstName} ${task.executor.lastName}` : ''
          td= formatDate(task.created_at)
          td
            .d-inline-flex.gap-2
              a.btn.btn-sm.btn-outline-primary(href=route('editTask', { id: task.id }))= t('views.tasks.index.edit')
              +buttonTo(route('deleteTask', { id: task.id }), 'delete')(class="btn btn-sm btn-outline-danger" value=t('views.tasks.index.delete'))
