extends ../layouts/application.pug

block content
  h1= t('views.tasks.new.title')

  +formFor()(action=route('tasks') method='post')
    +input(task, 'name', errors, 'tasks')(type="text")
    .mb-3
      label.form-label(for="data_description")= t('views.tasks.description')
      textarea#data_description.form-control(name="data[description]")= _.get(task, 'description', '')
    - const statusErrors = _.get(errors, 'statusId')
    .mb-3
      label.form-label(for="data_statusId")= t('views.tasks.status')
      select#data_statusId(name="data[statusId]" class=`form-control${statusErrors ? ' is-invalid' : ''}`)
        option(value='')
        each s in statuses
          option(value=s.id, selected=s.id === _.get(task, 'statusId'))= s.name
      if statusErrors
        .invalid-feedback= statusErrors.map(({ message }) => message).join('. ')
    .mb-3
      label.form-label(for="data_executorId")= t('views.tasks.executor')
      select#data_executorId.form-control(name="data[executorId]")
        option(value='')
        each u in users
          option(value=u.id, selected=u.id === _.get(task, 'executorId'))= `${u.firstName} ${u.lastName}`
    .mb-3
      label.form-label(for="data_labels")= t('views.tasks.labels')
      select#data_labels.form-control(name="data[labels][]" multiple)
        each l in labels
          option(value=l.id)= l.name
    +submit(task)(value=t('views.tasks.new.submit'))
